<div id="alert-chatshier" class="alert alert-danger fade in alert-chatshier alert-in hidden" role="alert">
  <a href="#" class="close" aria-label="close">&times;</a>
  <strong>資料庫已滿載，請聯絡系統管理員 &nbsp;</strong>
</div>
