#tag-wrap {
  position: relative;
  padding: 0 50px;
  width:80%;
  float:right;
  margin-right: 3%;
}

#edit-subt, #view-subt {
  list-style: none;
  position: relative;
  left: -5%;
}

.bigFont {
  font-size: 2em;
}
#tag-header, #tag-search, #tag-tab {
  position: relative;
  /*border: solid 5px black;
  height: 100px;*/
}

#tag-header {
  height: 30px;
  margin-top: 20px;
}

#tag-search {
  height: 20px;
}

#header-left {
  position: absolute;
  left: 0;
  /*border: solid 5px red;*/
  width: 50%;
  height: 50px;
}

#header-right {
  position: absolute;
  right: 0;
  /*border: solid 5px orange;*/
  width: 50%;
  height: 50px;
}

.add-btn {
  position: relative;
}

.inner-add {
  position: absolute;
  right: 0;
}

.inner-add-complete {
  position: absolute;
  right: 130px;
}

/*input, select {
  width: 15%;
}*/

/*Tabs*/
/* Style the tab */
div.tag-tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tag-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tag-tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tag-tab button.active {
    background-color: #ccc;
}
.btn-toolbar {
  margin: 30px;
}
/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
}

/*tag form*/
#task-list {
  list-style: none;
  border: solid 1px black;
}

select {
 width:150px;
}

select option{
  width:150px;
}

@media (max-width: 1135px){
  #tag-wrap {
    position: relative;
    left: 250px;
    width: 75%;
  }

  #form-wrap {
    position: relative;
    left: 270px;
    width: 95%
  }
}

@media (max-width: 1000px){
  #tag-wrap {
    position: relative;
    left: 250px;
    width: 72%;
  }

  #form-wrap {
    position: relative;
    left: 270px;
    width: 60%
  }
}

@media (max-width: 767px){
  #tag-wrap {
    position: relative;
    left: 0px;
    width: 100%;
  }

  #form-wrap {
    position: relative;
    left: 20px;
    width: 95%;
  }
}

@media (max-width: 414px){
  #home {
    position: relative;
    left: 0px;
    width: 100%;
  }

  #form-wrap {
    position: relative;
    left: 20px;
    width: 95%;
  }
}
